@media print {
    #clAc,
    #clAc2,
    .accordion,
    .btn-success,
    .btn-default,
    .btn-danger {
        display: none;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
}